.invoiceHeader {
    margin: 40px 0;
    text-align: center;
}

.detailsWrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;    
}

.unstyledTable tbody tr,
.unstyledTable tbody th,
.unstyledTable tbody td {
    border: none;
    padding: 4px 8px;
}

.tableRight {
    text-align: right;
}

.totalWrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 400px;
}